<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Home</title>
</head>
<body>
    <div class="link">
        <a href="/login">Login</a>
    </div>
    <div class="link">
        <a href="/register">Register</a>
    </div>
    <div class="link">
        <a href="/views">Views</a>
    </div>
    
</body>
</html>