<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Profile</title>
</head>
<body>
    <div class="link">
        <a>This is a protected path. Only authorized personnel allowed.</a>
    </div>
    <form action="/logout" method="post">
        <div>
            <button class="btn" type="submit">Logout</button>
        </div>
    </form>
</body>
</html>