<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Register</title>
</head>
<body>
    <form action="/register" method="post">
        <div class="input">
            <input type="text" name="username" id="username" placeholder="username">
        </div>
        <div class="input">
            <input type="password" name="password" id="password" placeholder="password">
        </div>
        <div class="input">
            <input type="text" name="name" id="name" placeholder="name">
        </div>
        <div>
            <button class="btn" type="submit">Register</button>
        </div>
    </form>
    <div class="link">
        <a href="/">Home</a>
        <a href="/login">Login</a>
    </div>
    

    
</body>
</html>